header {
    width: 100%;
    height: 10vh;
    background-color: #F3F6FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    clear: both;
    border-bottom: solid 1px #A9B7CB;
    position: relative;
}
.header-hamburger {
    order: 0;
}
.header-logo {
    order: 1;
}